body {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-color: #EDEDED;
    overflow: hidden;
}

body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box
}

*, *::after, *::before {
    box-sizing: inherit
}

.app {
    width: 100%;
    height: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 0;
}

.top-area .day-header {
    flex: 0 0 24px;
    width: 100%;
    overflow: hidden;
    background-color: #fcf1cf;
    height: 24px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    position: relative;
}

#loveDays {
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    color: #b38f3b;
}

.header{
    flex: 0 0 50px;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background: #fffcf4;
    border-bottom: 0.5px solid #E0E0E0;
    justify-content: space-between;
    position: relative;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 2px;
}

.header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
}

.back-btn {
    -webkit-tap-highlight-color: transparent;
    color: #777777;
    font-size: 20px;
    margin-left: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.his-name {
    margin-left: 14px;
    font-weight: 700;
    color: #000000;
}

.status-dot-online {
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgb(74, 160, 74);
    margin-left: 8px;
    margin-right: 1px;
    flex-shrink: 0;
}

.his-status {
    display: inline-block;
    font-size: 13px;
    color: #666;
    -webkit-text-size-adjust: 100%;
}


.search-btn {
    -webkit-tap-highlight-color: transparent;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #777777;
    margin-right: 10px;
}

.search-overlay {
    display: none;
}

.setting-menu {
    -webkit-tap-highlight-color: transparent;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 17px;
    color: #777777;
}

.dropdown {
    position: absolute;
    margin-top: 5px; 
    top: 100%;
    right: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px #00000033;
    display: none;
    z-index: 1000;
    min-width: 100px;
}

.dropdown-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3a3a3a;
    padding: 13px;
    
}

.nickname-overlay {
    display: none;
}

.common-phrase-overlay {
    display: none;
}

.typing-indicator {
    display: none;
    color:#9e9e9e;
    margin: 3px 9px;
    max-width: 80%;
    font-size: 13px;
    -webkit-text-size-adjust: 100%;
}

.typing-indicator::after {
    content: '';
    display: inline-block;
    animation: 1.2 steps (3,end) infinite dotJump;
    width: 1ch;
    overflow: hidden;
    vertical-align: bottom;
    font-size: 13px;
}

.chat-container {
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.chat-box {
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
}

.input-area {
    flex: 0 0 64px;
    width: 100%;
    height: 64px;
    min-height: 64px;
    background-color: #fffcf4;
    border-top: 0.5px solid #dfdac9;;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 64px;
    flex-shrink: 0;
    position: relative;
    z-index: 10;
}

input[type=text] {
    flex: 1;
    padding: 9px;
    border-radius: 33px;
    border: 1px solid #eee2c0;
    box-shadow: 0 2px 4px #00000033;
    font-size: 14px;
    background-color: #fff;
}

#userInput {
    width: 100%;
    padding: 12px 20px;
    margin-left: 10px;
    margin-right: 10px; 
    font-size: 13px;
    color: #b38f3b;
    outline: 0;
    transition: .3s
}

#userInput:focus {
    border-color: #ebdcab;
    background-color: #fff;
}

#userInput::placeholder {
    color: #b38f3b;
}

.sticker-btn {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 2px solid #eee6d0;
    border-radius: 50%;
    background:  #fffcf4;
    color:#b38f3b;
    margin-left: 2px;
    transition: 0.1s;
}

.sticker-btn i {
    font-size: 15px;
}

.sticker-btn:active {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ecdfb1;
    color: #fff;
    transform: scale(0.92);
}

.plus-btn {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 2px solid #eee6d0;
    border-radius: 50%;
    background:  #fffcf4;
    color:#b38f3b;
    margin-left: 6px;
    font-size: 22px;
    transition: 0.1s;
}

.plus-btn:active {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ecdfb1;
    color: #fff;
    transform: scale(0.92);
}

.send-btn {
    -webkit-tap-highlight-color: transparent;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 2px solid #f5dfa4;
    border-radius: 50%;
    background:  #f5dfa4;
    color:#ffffff;
    margin-left: 2px;
    margin-right: 2px;
    transition: 0.1s;
}

.send-btn i {
    font-size: 14px;
}

.send-btn:active {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f3d37c;
    transform: scale(0.92);
}

.plus-menu {
    display: none;
}

.sticker-panel {
    display: none;
}


